.footer{
     position: fixed;
     bottom: 0;
     display: flex;
     justify-content: flex-end;
}

img{
    width: auto;
    height: 54px;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;    
}