.header{
    display: flex;
    align-items: center;
}

.header  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo{
    max-height:100%;
    width:70px ;
}

.title-group{
    padding-left: 15px;
    padding-right: 5px;
    color: rgb(255, 4, 4);
}

.material-icons{
    margin-left: 40px;
    padding-right: 7px;
    color: white;
}